<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.storyroll"
    android:versionCode="45"
    android:versionName="0.54a" >

    <!-- You can control the behaviors and visibility of the action bar with the ActionBar APIs, which were added in Android 3.0 (API level 11) -->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <permission android:name="com.storyroll.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.storyroll.permission.C2D_MESSAGE" />
    
	<uses-feature android:name="android.hardware.camera"/>
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
	
    <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="com.storyroll.MainApplication"
        android:hardwareAccelerated="true"
        android:screenOrientation="portrait">
                    <!--  android:theme="@style/FullscreenTheme"  -->

        <activity
                android:name=".activity.ContactManager"
                android:configChanges="orientation|screenSize"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/SRTheme" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".activity.LaunchActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/SRTheme"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".activity.HelpActivity"
            android:label="@string/app_name"
            android:theme="@style/SRThemeStyledTabs"
            android:screenOrientation="portrait">
        </activity>  
        <activity 
            android:name=".activity.TabbedPlaylistActivity"
            android:label="@string/app_name"
            android:theme="@style/SRThemeStyledTabs"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".activity.TabbedChannelsActivity"
            android:label="@string/app_name"
            android:theme="@style/SRThemeStyledTabs"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>  
        <activity 
            android:name=".activity.SettingsActivity" 
            android:label="@string/app_name"
            android:theme="@style/SRTheme"
            android:screenOrientation="portrait"
            android:parentActivityName="com.storyroll.activity.TabbedPlaylistActivity">
             <!-- The meta-data element is needed for versions lower than 4.1 -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.storyroll.activity.TabbedPlaylistActivity" />
        </activity>
        <activity 
            android:name=".activity.LoginActivity" 
            android:label="@string/app_name"
            android:theme="@style/SRTheme"
            android:screenOrientation="portrait"
            android:parentActivityName="com.storyroll.activity.TabbedPlaylistActivity">
             <!-- The meta-data element is needed for versions lower than 4.1 -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.storyroll.activity.TabbedPlaylistActivity" />
        </activity>        
        <activity 
            android:name=".activity.ProfileActivity" 
            android:screenOrientation="portrait"
            android:theme="@style/SRTheme"
            android:label="@string/app_name"
	        android:parentActivityName="com.storyroll.activity.TabbedPlaylistActivity">
             <!-- The meta-data element is needed for versions lower than 4.1 -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.storyroll.activity.TabbedPlaylistActivity" />
        </activity>
        <activity 
            android:name=".activity.RegistrationActivity" 
            android:screenOrientation="portrait"
            android:theme="@style/SRTheme"
            android:label="@string/app_name">
        </activity>
        <activity 
            android:name=".activity.LogReadActivity" 
            android:screenOrientation="portrait"
            android:theme="@style/SRTheme"
            android:label="@string/app_name"
	        android:parentActivityName="com.storyroll.activity.TabbedPlaylistActivity">
             <!-- The meta-data element is needed for versions lower than 4.1 -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.storyroll.activity.TabbedPlaylistActivity" />
        </activity>

        <activity 
            android:name=".activity.VideoCaptureActivity"
            android:label="@string/app_name"
            android:theme="@style/SRTheme"
            android:screenOrientation="portrait"
            android:parentActivityName="com.storyroll.activity.TabbedPlaylistActivity">
             <!-- The meta-data element is needed for versions lower than 4.1 -->
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.storyroll.activity.TabbedPlaylistActivity" />
        </activity>    
        <activity 
            android:name=".activity.VideoSendActivity" 
            android:label="@string/app_name"
            android:theme="@style/SRTheme"
            android:screenOrientation="portrait"
            android:parentActivityName="com.storyroll.activity.TabbedPlaylistActivity"
            >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="com.storyroll.activity.TabbedPlaylistActivity" />
        </activity>
        <activity
                android:name=".activity.ChannelCreateActivity"
                android:label="@string/app_name"
                android:theme="@style/SRTheme"
                android:screenOrientation="portrait"
                android:parentActivityName="com.storyroll.activity.TabbedPlaylistActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.storyroll.activity.TabbedPlaylistActivity" />
        </activity>

        <!-- TEST ACTIVITIES -->
        <meta-data android:name="com.google.android.gms.version"
           android:value="@integer/google_play_services_version" />
        <activity
            android:name=".activity.GcmTestActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize"
                android:launchMode="singleTop">
        </activity>
        <activity 
            android:name=".activity.CameraTestActivity"
            android:label="@string/app_name"
            android:theme="@style/SRTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".activity.CameraPreview"
            android:label="@string/app_name"
            android:theme="@style/SRTheme"
            android:screenOrientation="portrait">
        </activity>  
        <activity 
            android:name=".activity.TabbedPlaylistActivity1"
            android:label="@string/app_name"
            android:theme="@style/SRThemeStyledTabs"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".activity.RollFlipPlayActivity" 
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SRTheme">
        </activity>
        
                
        <!-- SERVICE RELATED -->
        
        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.google.android.gcm.demo.app" />
            </intent-filter>
        </receiver>
        <service android:name=".gcm.GcmIntentService" />
        
        <!-- 
        <service android:name="com.storyroll.shake.ShakeService" />
	    <receiver android:name="com.storyroll.shake.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
	    </receiver>
         -->
<!--         
		<service android:name="ru.jecklandin.stickman.vp.ProcessingService" android:process=":remote">
            intent-filter>
                <action android:name="ru.jecklandin.stickman.STOP_ACTION" />
                <action android:name="ru.jecklandin.stickman.START_ACTION" />
            </intent-filter
        </service>

-->
        
        <!--
          WakefulBroadcastReceiver that will receive intents from GCM
          services and hand them to the custom IntentService.

          The com.google.android.c2dm.permission.SEND permission is necessary
          so only GCM services can send data messages for the app.
        -->
 
        
    </application>

</manifest>
